@import 'variables';
@import 'mixins';

.flw-profile {
  padding: 14px 32px;

  @include desktop-uhd-up {
    padding: 32px;
  }
}

.flw-profile-initials {
  display: block;
  margin-bottom: 20px;
}

.flw-profile-email {
  font-size: 18px;
  line-height: 23px;
  opacity: 50%;

  @include desktop-qhd-up {
    font-size: 20px;
    line-height: 23px;
    opacity: 50%;
  }

  @include desktop-uhd-up {
    font-size: 25px;
    line-height: 30px;
    opacity: 50%;
  }
}

.flw-profile-horos-link {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  color: $darkgray-color;

  @include desktop-qhd-up {
    font-size: 23px;
    line-height: 28px;
  }

  @include desktop-uhd-up {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 93px;
  }
}

.flw-content {
  text-align: center;
}

.flw-profile-form {
  text-align: start;
  display: block;
  margin-bottom: 20px;
  padding: 0 45px;

  @include desktop-qhd-up {
    margin-bottom: 32px;
    padding: 0 71px;
  }

  @include desktop-uhd-up {
    margin-bottom: 46px;
    padding: 0 105px;
  }
}

.flw-content-actions {
 text-align: center;
}

.flw-content-action-submit {
  text-align: end;
}

.flw-form-section {
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-bottom: 4px;

  @include desktop-uhd-up {
    margin-bottom: 25px;
  }
}

.flw-form-field-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flw-form-field-container-last {
  margin-bottom: 20px;
  width: 100%;

  @include desktop-qhd-up {
    margin-bottom: 32px;
  }
}

.flw-form-field-label {
  padding: 7px 0;
  font-size: 18px;
  line-height: 23px;

  @include desktop-qhd-up {
    font-size: 20px;
    line-height: 27px;
  }
}

.flw-form-field {
  width: 100%;
  display: block;
}

.flw-button-spinner {
  display: inline-block;
  margin-inline-end: 5px;
}

.flw-profile-divider {
  margin-bottom: 20px;

  @include desktop-qhd-up {
    margin-bottom: 32px;
  }

  @include desktop-uhd-up {
    margin-bottom: 46px;
  }
}

.flw-profile-used-space {
  text-align: start;
}
