@import 'variables';
@import 'mixins';

.flw-reset-password {
  padding: 14px 32px;

  @include desktop-uhd-up {
    padding: 32px;
  }
}

// REGISTER
.flw-reset-password-title {
  margin-bottom: 25px;

  @include desktop-qhd-up {
    margin-bottom: 28px;
  }
}

.flw-reset-password-text,
.flw-reset-password-code-info {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  @include desktop-qhd-up {
    margin-bottom: 53px;
    font-size: 25px;
    line-height: 30px;
  }

  @include desktop-uhd-up {
    margin-bottom: 107px;
  }
}

.flw-reset-password-text {
  color: $darkgray-color;
  margin-bottom: 107px;

  @include desktop-qhd-up {
    margin-bottom: 142px;
  }

  @include desktop-uhd-up {
    margin-bottom: 178px;
  }
}

.flw-email-content {
  display: block;
  max-width: 890px;
  margin: 0 auto;

  @include desktop-hd {
    width: 80%;
  }
}

.flw-reset-password-form {
  display: block;
  margin-bottom: 52px;
}

.flw-content-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 37px;
}

.flw-form-field {
  width: 100%;
  display: block;
}

.flw-form-field-container {
  display: flex;
  flex-direction: row;
}

.flw-form-field-email-container {
  margin: 0 auto 18px;

  @include desktop-qhd-up {
    margin-bottom: 28px;
  }
}

.flw-form-field-label {
  min-width: 240px;
  font-weight: bold;

  @include desktop-qhd-up {
    min-width: 324px;
  }
}

.flw-form-field-label-email {
  min-width: 135px;
  font-weight: bold;

  @include desktop-qhd-up {
    min-width: 203px;
  }
}

.flw-form-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flw-form-info {
  padding-inline-start: 255px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  line-height: 23px;
  font-style: italic;

  @include desktop-qhd-up {
    padding-inline-start: 338px;
    font-size: 21px;
    line-height: 27px;
  }
}

.flw-form-info-hint {
  font-style: italic;
  color: $backround-secondary-color;
  white-space: normal;
  margin-bottom: 14px;
}

.flw-button-spinner {
  display: inline-block;
  margin-inline-end: 5px;
}

.flw-reset-password-actions {
  color: $backround-secondary-color;
  text-align: center;
}

.flw-content-action-submit {
  margin-bottom: 28px;
}

.flw-form-link {
  text-align: center;
  font-size: 21px;
  line-height: 27px;
  font-style: italic;
}

// VERIFY CODE
.flw-code-title {
  margin-bottom: 25px;
  text-align: center;
}

.flw-verification-email-container {
  padding-top: 37px;
  text-align: start;
  max-width: 890px;
  margin: 0 auto;
}

.flw-reset-password-code-info-text {
  color: $darkgray-color;
}

.flw-reset-password-code-info-email {
  font-weight: bold;
}

.flw-reset-password-code-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 36px;
  
  @include desktop-qhd-up {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 53px;
  }
}

.flw-reset-password-verify-form {
  margin: 0 auto 43px;
  font-size: 18px;
  line-height: 25px;
  text-align: start;
  display: block;
  max-width: 890px;

  @include desktop-qhd-up {
    margin-bottom: 60px;
  }

  @include desktop-uhd-up {
    margin-bottom: 69px;
  }
}

.flw-otp-input-field {
  display: block;
  margin-bottom: 14px;

  @include desktop-uhd-up {
    margin-bottom: 28px;
  }
}

.flw-reset-password-code-link {
  margin: 0 auto 43px;
  font-size: 18px;
  line-height: 25px;
  text-align: start;
  display: block;
  max-width: 890px;

  @include desktop-qhd-up {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 57px;
  }

  @include desktop-uhd-up {
    margin-bottom: 69px;
  }
}

.flw-code-content {
  @include desktop-hd {
    width: 71%;
    margin: 0 auto;
  }
}

.flw-reset-password-code-content {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 89px;

  @include desktop-qhd-up {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 160px;
  }
}

.flw-content-action-code-submit {
  margin-bottom: 36px;
}

.flw-reset-password-code-footer {
  font-size: 18px;
  line-height: 25px;

  @include desktop-qhd-up {
    font-size: 21px;
    line-height: 25px;
  }
}

// USER VERIFIED
.flw-verified-content {
  text-align: center;
  padding-top: 124px;

  @include desktop-qhd-up {
    padding-top: 199px;
  }

  @include desktop-uhd-up {
    padding-top: 324px;
  }
}

.flw-verfied-icon-holder {
  margin-bottom: 57px;

  @include desktop-qhd-up {
    margin-bottom: 75px;
  }
}

.flw-verfied-icon {
  font-size: 89px;
  line-height: 89px;
  width: 89px;
  height: 89px;
  color: $success-color;

  @include desktop-qhd-up {
    font-size: 124px;
    line-height: 124px;
    width: 124px;
    height: 124px;
  }
}

.flw-verified-text {
  font-size: 37px;
  line-height: 45px;
  font-weight: bold;
  margin: 0 auto 75px;

  @include desktop-hd {
    width: 80%;
  }

  @include desktop-qhd-up {
    font-size: 49px;
    line-height: 60px;
    margin-bottom: 93px;
  }
}
